
img {
    max-width: 100%;
    display: block;
}

ol,ul {
    list-style-type: none;
    padding: 0;
}

header {
    display: contents;
}

/* utilities */

.button_style {
    border-radius: 999px;
    padding: 5px 15px;
    color: white;
    border: none;
    background-color: #fff;
}

.button_dark {
    background-color: #363636;
    border: 1px solid #363636;
}

.button_red {
    background-color: #cd3d0f;
    border: 1px solid #cd3d0f;
}

.button_blue {
    background-color: #2d64e6;
    border: 1px solid #2d64e6;
}

.button_light {
    background-color: #d9dadc;
    color: #2d64e6;
}

/* intestazione */

#nav_bar .nav-link {
    color: #000;
}

#sony {
    width: 50px;
    height: 25px;
}

/* jumbotron */

.returnal_banner {
    background-image: url(../img/jumbo-bg.png);
}

.it_takes_two_banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbo_wrap {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#jumbotron .row {
    min-height: 600px;
}

.jumbo_logo {
    max-width: 250px;
}

.jumbo_title {
    font-size: 32px;
}

/* section game thumbs */

#game_thumbs [class*="col"]:hover .game_card {
    transform: translateY(-15px);
    cursor: pointer;
}

.game_card {
    border: 2px solid transparent;
    overflow: hidden;
    transition: border 0.1s ease-in-out;
    border-radius: 15px;
}

.game_card.active,
.game_card:hover {
    outline: 2px solid white;
    outline-offset: -4px;
    border: 2px solid #2285d4;
    cursor: pointer;
}

/* section ps5 */

#ps5 a {
    font-size: 12px;
}

.ms_title {
    font-size: 30px;
}

.ms_subtitle {
    color: #727272;
    font-weight: 500;
}

#ps5 .card_tools_ps5 {
    font-size: 14px;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

#ps5 .card_tools_ps5.active::after,
#ps5 .card_tools_ps5.active,
#ps5 .card_tools_ps5:hover,
#ps5 .card_tools_ps5:hover::after {
    opacity: 1;
    cursor: pointer;
    visibility: visible;
}

.card_tools_ps5::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0.75rem;
    right: 0.75rem;
    height: 1px;
    background-color: #2285d4;
    visibility: hidden;
}

/* new release */

#new_release .tm_cit {
    font-size: 6px;
    vertical-align: super;
}

#new_release .new_game_header {
    border-radius: 20px;
    overflow: hidden;
}

#new_release .new_game_title {
    font-size: 14px;
    font-weight: 500;
}

/* explore ps4 */

#explore_ps4 .copy_right {
    vertical-align: super;
    font-size: 14px;
}

/* ps plus ps now */

#ps_plus{
    background-color: #bebcbb;
}

.ps_plus_logo {
    max-width: 350px;
}

#ps_now {
    background-color: #161c3b;
}











/* media query */ 

@media screen and (max-width:768px) {

    .jumbo_logo {
        max-width: 350px;
    }

}

@media screen and (max-width:992px) {
    
    .nav_bar {
        align-items: flex-start!important;
    }
}