
img {
    max-width: 100%;
}

/* utilities */

.button_style {
    border-radius: 999px;
    padding: 5px 15px;
    color: white;
    border: none;
}

.button_dark {
    background-color: #363636;
    border: 1px solid #363636;
}

.button_red {
    background-color: #cd3d0f;
    border: 1px solid #cd3d0f;
}

/* intestazione */

#nav_bar .nav-link {
    color: #000;
}

#sony {
    width: 50px;
    height: 25px;
}

/* jumbotron */

.jumbo_wrap {
    background-image: url(../img/jumbo-bg.png);
    height: 480px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.jumbo_logo {
    max-width: 250px;
}

.jumbo_title {
    font-size: 32px;
}

.jumbo_text {
    font-size: 14px;
}

.jumbo_card.active,
.jumbo_card:hover {
    border-radius: 15px;
    border: 2px solid #2285d4;
    cursor: pointer;
}

.jumbo_card_head {
    border-radius: 15px;
    padding: 1px;
}












/* media query */ 

@media screen and (max-width:992px) {
    
    .nav_bar {
        align-items: flex-start!important;
    }
}